# Load Libraries/Data

In [2]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

import warnings
warnings.filterwarnings('ignore')

In [10]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [6]:
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1839
3  tt0000004            5.5       178
4  tt0000005            6.2      2624

In [7]:
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [8]:
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

# Part 1: Clean Data

## Basics Data

### Replace '\N' with np.nan

In [9]:
basics_df = basics_df.replace({'\\N':np.nan})

In [10]:
basics_df[basics_df.eq('\\N').any(1)]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [11]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

### Eliminate movies that are null for runtimeMinutes

In [12]:
basics_df.dropna(subset=['runtimeMinutes'], inplace=True)

In [13]:
basics_df['runtimeMinutes'].isna().sum()

0

### Eliminate movies that are null for genre

In [14]:
basics_df.dropna(subset=['genres'], inplace=True)

In [15]:
basics_df['genres'].isna().sum()

0

### Keep only titleType==Movie

In [16]:
basics_df['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

In [17]:
is_movie = basics_df['titleType'] == 'movie'
basics_df = basics_df[is_movie]
basics_df['titleType'].unique()

array(['movie'], dtype=object)

In [18]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

### Keep startYear 2000-2021

In [19]:
basics_df['startYear'].info()

<class 'pandas.core.series.Series'>
Int64Index: 384580 entries, 8 to 9971169
Series name: startYear
Non-Null Count   Dtype
--------------   -----
378062 non-null  object
dtypes: object(1)
memory usage: 5.9+ MB

In [20]:
basics_df['startYear'] = basics_df['startYear'].astype('float')

In [21]:
year_range = (basics_df['startYear'] >= 2000) & (basics_df['startYear'] <= 2021)
basics_df = basics_df[year_range]
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

### Eliminate movies that include "Documentary" in genre

In [22]:
# Exclude movies that are included in the documentary category.
is_documentary = basics_df['genres'].str.contains('documentary',case=False)
basics_df = basics_df[~is_documentary]

In [23]:
basics_df[is_documentary]

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

## AKAs Data

### Keep Only US Movies

In [24]:
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [25]:
us_only = akas_df['region'] == 'US'

In [26]:
akas_df = akas_df[us_only]
akas_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
36,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
41,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0
...,...,...,...,...,...,...,...,...
36415295,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,\N,imdbDisplay,\N,0
36415365,tt9916620,1,The Copeland Case,US,\N,imdbDisplay,\N,0
36415454,tt9916702,1,Loving London: The Playground,US,\N,\N,\N,0
36415497,tt9916756,1,Pretty Pretty Black Girl,US,\N,imdbDisplay,\N,0
36415513,tt9916764,1,38,US,\N,imdbDisplay,\N,0

### Replace "\N" with np.nan

In [27]:
akas_df.replace({'\\N':np.nan}, inplace=True)
akas_df[akas_df.eq('\\N').any(1)]

Empty DataFrame
Columns: [titleId, ordering, title, region, language, types, attributes, isOriginalTitle]
Index: []

## **Basics Data - Keep Only US Movies**
- Have to place this code after 'AKAs Data' since this filter is based on that code

In [28]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics_df['tconst'].isin(akas_df['titleId'])
keepers

34803       True
42384       True
61115       True
67667       True
86799       True
           ...
9970892     True
9970901     True
9970940    False
9970985     True
9971069    False
Name: tconst, Length: 138716, dtype: bool

In [29]:
basics_df = basics_df[keepers]
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67667,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86799,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

## Ratings Data

### Replace "\N" with np.nan (if any)

In [30]:
ratings_df[ratings_df.eq('\\N').any(1)]

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

### Keep only US movies

In [31]:
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1982
1  tt0000002            5.8       265
2  tt0000003            6.5      1839
3  tt0000004            5.5       178
4  tt0000005            6.2      2624

In [32]:
ratings_us = ratings_df['tconst'].isin(akas_df['titleId'])

In [33]:
ratings_df = ratings_df[ratings_us]
ratings_df

            tconst  averageRating  numVotes
0        tt0000001            5.7      1982
1        tt0000002            5.8       265
4        tt0000005            6.2      2624
5        tt0000006            5.1       182
6        tt0000007            5.4       821
...            ...            ...       ...
1325542  tt9916200            8.1       230
1325543  tt9916204            8.2       264
1325550  tt9916348            8.3        18
1325551  tt9916362            6.4      5391
1325556  tt9916428            3.8        14

[502484 rows x 3 columns]

# Data .info()

In [34]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81829 entries, 34803 to 9970985
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81829 non-null  object
 1   titleType       81829 non-null  object
 2   primaryTitle    81829 non-null  object
 3   originalTitle   81829 non-null  object
 4   isAdult         81829 non-null  object
 5   startYear       81829 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  81829 non-null  object
 8   genres          81829 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.2+ MB

In [35]:
akas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448457 entries, 5 to 36415513
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1448457 non-null  object
 1   ordering         1448457 non-null  int64
 2   title            1448457 non-null  object
 3   region           1448457 non-null  object
 4   language         3976 non-null     object
 5   types            980750 non-null   object
 6   attributes       46875 non-null    object
 7   isOriginalTitle  1447115 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.5+ MB

In [36]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502484 entries, 0 to 1325556
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         502484 non-null  object
 1   averageRating  502484 non-null  float64
 2   numVotes       502484 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.3+ MB

# Create 'Data' Folder

In [37]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

## Save to Folder

In [38]:
basics_df.to_csv('Data/title_basics.csv.gz', compression='gzip', index=False)

In [39]:
akas_df.to_csv('Data/title_akas.csv.gz', compression='gzip', index=False)

In [40]:
ratings_df.to_csv('Data/title_ratings.csv.gz', compression='gzip', index=False)

## Replace DataFrame Object

In [41]:
basics_df = pd.read_csv('Data/title_basics.csv.gz', low_memory=False)
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
81824,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
81825,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
81826,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
81828,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [42]:
akas_df = pd.read_csv('Data/title_akas.csv.gz', low_memory=False)
akas_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0
...,...,...,...,...,...,...,...,...
1448452,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0.0
1448453,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0.0
1448454,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0.0
1448455,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0.0
1448456,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0.0

In [43]:
ratings_df = pd.read_csv('Data/title_ratings.csv.gz', low_memory=False)
ratings_df

           tconst  averageRating  numVotes
0       tt0000001            5.7      1982
1       tt0000002            5.8       265
2       tt0000005            6.2      2624
3       tt0000006            5.1       182
4       tt0000007            5.4       821
...           ...            ...       ...
502479  tt9916200            8.1       230
502480  tt9916204            8.2       264
502481  tt9916348            8.3        18
502482  tt9916362            6.4      5391
502483  tt9916428            3.8        14

[502484 rows x 3 columns]

# Part 2: Extract from TMDB

- Will extract and save the results for movies from the clean 'basics' dataset
- As a proof-of-concept, I'll perform a test extraction of movies that started in 2000 or 2001
- Each year will be saved as a separate .csv.gz file

## Financial Data Extraction

### Custom Functions

In [7]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [8]:
def get_movie_with_rating(movie_id):
"""Copied from Coding Dojo Learning Platform"""
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    
    return info

### Designate Folder to Save Results

In [12]:
FOLDER = 'Data/'
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

### Establish TMDB API Connection

In [13]:
import json
with open('/Users/jonnu/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'api-key'])

In [14]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

### Load in Clean Basics Data

In [15]:
basics = pd.read_csv(r"C:\Users\jonnu\Coding Dojo\Stack 4_Data Enrichment\Wk1 - MySQL and Database Design\IMDB-MySQL\Data\title_basics.csv.gz")
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
81824,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
81825,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
81826,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
81827,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
81828,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

### Test of Function for Extracting Movie Data Using IMDB_ID
- tt0848228 ("The Avengers")
- tt0332280 ("The Notebook")

In [20]:
display(get_movie_with_rating('tt0848228'))
get_movie_with_rating('tt0332280')

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 144.806,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.709,
 'vote_count': 28800,
 'certification': 'PG-13'}

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 53.814,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/5ThIuO93vsk47oexKTSdfKEr7EC.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.88,
 'vote_count': 10403,
 'certification': 'PG-13'}

### Objects for Years and Errors

In [16]:
YEARS_TO_GET = [2000, 2001]
errors = []

### **For Loop Script to Retrieve and Save Results**
- Will also create another save of the results as a .csv.gz file
- Will also return number of errors

In [17]:
"""Adapted from Coding Dojo Learning Platform"""
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as the current df
    #Filter for basics df for only specific year
    df = basics[basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    ###Stop gap measure to insure previously retrieved data isn't retrieved again
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

#############################################################################
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve the data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)

        except Exception as e:
            errors.append([movie_id, e])
#############################################################################        
    
    #save file as .csv.gz  
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", 
                         compression="gzip", index=False)

# print number of errors
print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1455 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1573 [00:00<?, ?it/s]

- Total errors: 440